@use "style";

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    width: 40%;
    height: 55%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
}

img{
    border-radius: 10px 0px 0px 10px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    h2{
        font-size: 3rem;
    }
    p{
        &#price{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
                margin-right: 10%;
            }
        }
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center; 
        height: 3.5rem; 
        &:hover{
            background-color: darken($color: style.$DarkCyan, $amount: 10);
        }  
    }
}
